## File I/O: How to read files 

- ```open()```
- ```csv()```
- Analyze some data (without using a library)

### ```open()``` (Most baisc way of reading any kind of data inside python)

In [22]:
con = open("../data/file_data.csv","r")

In [8]:
print(dir(con))

['_CHUNK_SIZE', '__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '_checkClosed', '_checkReadable', '_checkSeekable', '_checkWritable', '_finalizing', 'buffer', 'close', 'closed', 'detach', 'encoding', 'errors', 'fileno', 'flush', 'isatty', 'line_buffering', 'mode', 'name', 'newlines', 'read', 'readable', 'readline', 'readlines', 'reconfigure', 'seek', 'seekable', 'tell', 'truncate', 'writable', 'write', 'write_through', 'writelines']

In [ ]:
data = con.readlines()

In [18]:
type(data)

list

In [38]:
data[0:2]

[',sensor_id,time,incoming,outgoing,range,date,hour,minute,total,location_name\n',
 '0,52,2021-06-17 07:07:11.937082+00:00,0,2,1min,2021-06-17,7,7,2,reitan_7eleven_carlberner\n']

In [24]:
con.close()

In [25]:
data[0] ##

',sensor_id,time,incoming,outgoing,range,date,hour,minute,total,location_name\n'

In [26]:
data[0].split(",")

['',
 'sensor_id',
 'time',
 'incoming',
 'outgoing',
 'range',
 'date',
 'hour',
 'minute',
 'total',
 'location_name\n']

In [34]:
data[1].split(",")[2]

'2021-06-17 07:07:11.937082+00:00'

In [35]:
data[1].split(",")

['0',
 '52',
 '2021-06-17 07:07:11.937082+00:00',
 '0',
 '2',
 '1min',
 '2021-06-17',
 '7',
 '7',
 '2',
 'reitan_7eleven_carlberner\n']

In [36]:
Id = []
sensor_id = []
time = []
incoming = []
outgoing = []
Range = []
date = []
hour = []
minute = []
total = []
location_name = []
for row in data:
    values = row.split(",")
    Id.append(values[0])
    sensor_id.append(values[1])
    time.append(values[2])
    incoming.append(values[3])
    outgoing.append(values[4])
    Range.append(values[5])
    date.append(values[6])
    hour.append(values[7])
    minute.append(values[8])
    total.append(values[9])
    location_name.append(values[10])

### Find the average of the total column from 11 PM to 11:45 PM on 2021-06-18

In [52]:
len(total)-1

807

In [ ]:
Total = 0
for val in total[1:]:
    num_val = float(val)
    Total = Total + num_val
print(Total/(len(total)-1))

418.6691449814126

In [60]:
for idx in range(len(total)):
    val = (total[idx],date[idx], hour[idx],minute[idx])

In [61]:
Total = 0
cnt = 0
for values in zip(total[1:],date[1:],hour[1:],minute[1:]):
    if values[1] == '2021-06-18' and values[2]=="23" and int(values[3])<=45:
        Total = float(values[0])+Total
        cnt = cnt + 1
print(Total/cnt)

1.0

In [62]:
Total

5.0

In [63]:
cnt

5

### Count the number of times the incoming was more than the outgoing?

In [66]:
cnt = 0
for values in zip(incoming[1:], outgoing[1:]):
    if int(values[0])>int(values[1]):
        cnt+=1 ## cnt=cnt+1
print(cnt)

324

```python
con = open(path,"r")
con.close()
```

In [69]:
with open("../data/file_data.csv","r") as con:
    data = con.readlines()

## Class Assignment 

- Use the data tweets_assignment.txt
- Find out how many tweets were tweeted on each day, i.e. how many tweets were made on 26th December, how many on 25th December and so on.

In [70]:
with open("../data/tweets_assignment.txt","r") as con:
    tweets = con.readlines()

In [109]:
dates = []
for tweet in tweets[1:]:
    #print(tweet)
    tweet = tweet.replace('"',"")
    date_parts = tweet.split("|")[0].split(" ")
    date = " ".join(date_parts[0:3])
    dates.append(date)

In [81]:
set(dates)

{'Mon Dec 23', 'Thu Dec 26', 'Tue Dec 24', 'Wed Dec 25'}

In [89]:
a = "a"
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [91]:
"Mon Dec 23 was a great day!".startswith('Thu Dec 26')

False

In [95]:
pattern = 'Thu Dec 26'
cnt = 0
for tweet in tweets[1:]:
    tweet = tweet.replace('"',"")
    if tweet.split("|")[0].startswith(pattern):
        cnt+=1
print(cnt)

1999

In [96]:
def count_days(pattern = 'Thu Dec 26'):
    cnt = 0
    for tweet in tweets[1:]:
        tweet = tweet.replace('"',"")
        if tweet.split("|")[0].startswith(pattern):
            cnt+=1
    return cnt

In [99]:
count_days('Thu Dec 26')

1999

In [100]:
count_days('Wed Dec 25')

3103

In [101]:
count_days('Tue Dec 24')

4079

In [102]:
count_days('Mon Dec 23')

5092

In [103]:
for tweet in tweets[1:]:
    #print(tweet)
    tweet = tweet.replace('"',"")
    date_parts = tweet.split("|")[0].split(" ")
    date = " ".join(date_parts[0:3])
    dates.append(date)

In [105]:
dummy_list = ["a","a","b","a"]
dummy_list.count("a")

3

In [106]:
set(dates)

{'Mon Dec 23', 'Thu Dec 26', 'Tue Dec 24', 'Wed Dec 25'}

In [113]:
dates.count("Wed Dec 25")

3103

In [115]:
import pandas as pd
d = pd.Series(dates)

In [116]:
d.unique()

array(['Thu Dec 26', 'Wed Dec 25', 'Tue Dec 24', 'Mon Dec 23'],
      dtype=object)

In [117]:
d.value_counts()

Mon Dec 23    5092
Tue Dec 24    4079
Wed Dec 25    3103
Thu Dec 26    1999
dtype: int64

In [118]:
import csv

In [129]:
with open("../data/tweets_assignment.txt","r") as con:
    reader = csv.reader(con, delimiter="|")
    cnt = 0
    for row in reader:
        print(row)
        cnt+=1
        if cnt>=3:
            break

['Tweet_Date', 'Tweet_Text', 'Tweet_Handle']
['Thu Dec 26 123415 0000 2013', 'ashdubey ratigirl FirstpostBiz First economic move by AamAadmiParty  How come it has gone down in Guj', 'maverickenator']
['Thu Dec 26 123413 0000 2013', 'RT anandpassion Growing popularity can seen as AAP websites Rank 275 in India highest ever for a political party JoinAAP ankitlal Aam', 'aapkask']

In [141]:
con = open("../data/tweets_assignment.txt","r")
reader = csv.reader(con, delimiter="|")
cnt = 0
for row in reader:
    print(row[2])
    cnt+=1
    if cnt>=6:
        break
con.close()

Tweet_Handle
maverickenator
aapkask
arpshalder
GargaC
kejriwalfanclub

In [142]:
cnt = 0
with open("../data/tweets_assignment.txt","r") as con:
    reader = csv.DictReader(con,delimiter="|")
    for row in reader:
        print(row["Tweet_Handle"])
        cnt+=1
        if cnt>=6:
            break

maverickenator
aapkask
arpshalder
GargaC
kejriwalfanclub
varaliprasoon

In [126]:
con = open("../data/tweets_assignment.txt","r")
reader = csv.reader(con, delimiter="|")
reader

In [128]:
con.close()

In [133]:
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [134]:
"win" in "Ashwini"

True

### Class Excercise (writer and DictWriter)

Use the tweets_assignment.txt to find out how many tweets were posted on 23, 24, 25, 26 December. Write the results in a csv file using the writer or DictWriter class. The file should follow the following format:

```csv
count_23,count_24,count_25,count_26
val1,val2,val3,val4
```

### Working with JSON data

- Ingest the raw json as a string inside python
- Somehow turn this string into a relevant python dictionary

In [148]:
with open("../data/sample_json.json","r", encoding = "utf-8") as con:
    json_string = con.read()

In [149]:
import json

In [150]:
json_data = json.loads(json_string)

In [158]:
json_data.keys()

dict_keys(['type', 'metadata', 'features', 'bbox'])

In [159]:
json_data['type']

'FeatureCollection'

In [161]:
json_data['metadata']['generated']

1626859520000

In [162]:
json_data['metadata']

{'generated': 1626859520000,
 'url': 'https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson',
 'title': 'USGS All Earthquakes, Past Hour',
 'status': 200,
 'api': '1.10.3',
 'count': 14}

In [170]:
mag = []
loc = []
urls = []
for feature in json_data['features']:
    print(feature['properties']['mag'],feature['properties']['place'],feature['properties']['url'])

2.1500001 3 km ENE of Pāhala, Hawaii https://earthquake.usgs.gov/earthquakes/eventpage/hv72595567
1.71 6km WNW of The Geysers, CA https://earthquake.usgs.gov/earthquakes/eventpage/nc73596701
2.16000009 1 km E of Pāhala, Hawaii https://earthquake.usgs.gov/earthquakes/eventpage/hv72595557
1.2 16 km WNW of Fishhook, Alaska https://earthquake.usgs.gov/earthquakes/eventpage/ak0219a7zdzd
1 13 km SW of Walker, California https://earthquake.usgs.gov/earthquakes/eventpage/nn00815387
1.62 0 km NE of Union City, Oklahoma https://earthquake.usgs.gov/earthquakes/eventpage/ok2021odxy
0.9 2 km NE of Walker, California https://earthquake.usgs.gov/earthquakes/eventpage/nn00815385
1.7 23 km WSW of Karluk, Alaska https://earthquake.usgs.gov/earthquakes/eventpage/ak0219a7lg64
1.45 4km NW of The Geysers, CA https://earthquake.usgs.gov/earthquakes/eventpage/nc73596691
1 64 km ESE of Denali National Park, Alaska https://earthquake.usgs.gov/earthquakes/eventpage/ak0219a7ked9
0.8 5 km NNE of Yerington, Nevada https://earthquake.usgs.gov/earthquakes/eventpage/nn00815384
2.04 9 km SSE of Volcano, Hawaii https://earthquake.usgs.gov/earthquakes/eventpage/hv72595487
1.1 66 km WNW of Happy Valley, Alaska https://earthquake.usgs.gov/earthquakes/eventpage/ak0219a7hdrg
0.38 22km ESE of Little Lake, CA https://earthquake.usgs.gov/earthquakes/eventpage/ci39748207