# Text representation
- Bow: Count Matrix
- Bow: Tfidf Matrix
- Extract Keywords
- Find document similarity

In [1]:
### Count Matrix
from sklearn.feature_extraction import text

In [2]:
corpus = ["This is document one",
"This is document two",
"This is document three",
"This is document four"
] ##List of documents

In [3]:
cv=text.CountVectorizer(input = corpus) ## this step only creates a python object and not the matrix

In [4]:
count_matrix=cv.fit_transform(corpus)

In [5]:
count_matrix

<4x7 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [6]:
count_matrix.toarray()

array([[1, 0, 1, 1, 1, 0, 0],
       [1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 1, 0],
       [1, 1, 1, 0, 1, 0, 0]])

In [7]:
class CountVectorizer():
    def __init__(self,input):
        self.input = input
    def fit_transform(self):
        print("This is fit_transform")

In [10]:
c = CountVectorizer(input=corpus)

In [11]:
c.fit_transform()

This is fit_transform

In [15]:
cv.get_feature_names()

/Users/gunnvantsaini/miniforge3/envs/dl/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['document', 'four', 'is', 'one', 'this', 'three', 'two']

In [13]:
import pandas as pd
pd.DataFrame(count_matrix.toarray(),columns=cv.get_feature_names_out())

   document  four  is  one  this  three  two
0         1     0   1    1     1      0    0
1         1     0   1    0     1      0    1
2         1     0   1    0     1      1    0
3         1     1   1    0     1      0    0

In [14]:
import sklearn
sklearn.__version__

'1.0.1'

In [16]:
doc = ['This is document five']

In [18]:
cv.transform(doc).toarray() ### .transform() method will ignore new words in the dataset

array([[1, 0, 1, 0, 1, 0, 0]])

In [19]:
pd.DataFrame(cv.transform(doc).toarray(),columns=cv.get_feature_names_out())

   document  four  is  one  this  three  two
0         1     0   1    0     1      0    0

### Class Excercise
- Use this data https://drive.google.com/file/d/11jIco80zFY_nEfVApqo-DD4UXx8J5wGs/view?usp=sharing
- Choose the first 500 rows from the column transcripts
- Create a count matrix for these 500 rows
- Need to create a count matrix using transform() method for rows 501-700 (new data)

In [20]:
path = '/Users/gunnvantsaini/Documents/Data/Kaggle/ted-data/transcripts.csv'
data = pd.read_csv(path)
data.head(2)

,transcript,url
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...

In [21]:
trans = data['transcript'].tolist()[0:500]

In [22]:
cv = text.CountVectorizer(input = trans)
matrix = cv.fit_transform(trans)###

In [23]:
trans_new = data['transcript'].iloc[501:700].tolist()

In [24]:
matrix_new = cv.transform(trans_new) ###

tfidf [link](https://en.wikipedia.org/wiki/Tf–idf)

### Compute tfidf

In [25]:
corpus = ["This is document one",
"This is document two",
"This is document three",
"This is document four"
] ##List of documents

In [26]:
tfidf = text.TfidfVectorizer(input = corpus)

In [27]:
matrix = tfidf.fit_transform(corpus)

In [28]:
matrix

<4x7 sparse matrix of type '<class 'numpy.float64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [31]:
matrix.toarray()

array([[0.38713857, 0.        , 0.38713857, 0.74187006, 0.38713857,
        0.        , 0.        ],
       [0.38713857, 0.        , 0.38713857, 0.        , 0.38713857,
        0.        , 0.74187006],
       [0.38713857, 0.        , 0.38713857, 0.        , 0.38713857,
        0.74187006, 0.        ],
       [0.38713857, 0.74187006, 0.38713857, 0.        , 0.38713857,
        0.        , 0.        ]])

In [32]:
tfidf.get_feature_names_out()

array(['document', 'four', 'is', 'one', 'this', 'three', 'two'],
      dtype=object)

In [33]:
pd.DataFrame(matrix.toarray(),columns=tfidf.get_feature_names_out())

   document     four        is      one      this    three      two
0  0.387139  0.00000  0.387139  0.74187  0.387139  0.00000  0.00000
1  0.387139  0.00000  0.387139  0.00000  0.387139  0.00000  0.74187
2  0.387139  0.00000  0.387139  0.00000  0.387139  0.74187  0.00000
3  0.387139  0.74187  0.387139  0.00000  0.387139  0.00000  0.00000

In [37]:
tfidf.transform(doc).toarray()

array([[0.57735027, 0.        , 0.57735027, 0.        , 0.57735027,
        0.        , 0.        ]])

### Class Excercise
- Use this data https://drive.google.com/file/d/11jIco80zFY_nEfVApqo-DD4UXx8J5wGs/view?usp=sharing
- Choose the first 500 rows from the column transcripts
- Create a tfidf matrix for these 500 rows
- Need to create a tfidf matrix using transform() method for rows 501-700 (new data)

In [38]:
data.head(2)

,transcript,url
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...

In [39]:
trans = data['transcript'].tolist()[0:500]
trans_new = data['transcript'].iloc[501:700].tolist()

In [40]:
tfidf = text.TfidfVectorizer(input = trans)
matrix = tfidf.fit_transform(trans)

In [41]:
matrix_new = tfidf.transform(trans_new)

In [42]:
matrix.shape

(500, 31702)

In [43]:
matrix_new.shape

(199, 31702)

In [44]:
matrix.toarray() ## the memory consumption increases drastically (toarray()->dense)

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.0044687 , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.0101057 , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.06435049, 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [45]:
matrix ### remember the locations where there is zero value

<500x31702 sparse matrix of type '<class 'numpy.float64'>'
	with 331767 stored elements in Compressed Sparse Row format>

In [46]:
data.head(2)

,transcript,url
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...

In [47]:
data['url'].iloc[0]

'https://www.ted.com/talks/ken_robinson_says_schools_kill_creativity\n'

In [48]:
data['url'].iloc[1]

'https://www.ted.com/talks/al_gore_on_averting_climate_crisis\n'

In [49]:
data['url'].iloc[2]

'https://www.ted.com/talks/david_pogue_says_simplicity_sells\n'

In [51]:
data['transcript'].iloc[1]

'Thank you so much, Chris. And it\'s truly a great honor to have the opportunity to come to this stage twice; I\'m extremely grateful. I have been blown away by this conference, and I want to thank all of you for the many nice comments about what I had to say the other night. And I say that sincerely, partly because (Mock sob) I need that.(Laughter)Put yourselves in my position.(Laughter)I flew on Air Force Two for eight years.(Laughter)Now I have to take off my shoes or boots to get on an airplane!(Laughter)(Applause)I\'ll tell you one quick story to illustrate what that\'s been like for me.(Laughter)It\'s a true story — every bit of this is true.Soon after Tipper and I left the — (Mock sob) White House —(Laughter)we were driving from our home in Nashville to a little farm we have 50 miles east of Nashville. Driving ourselves.(Laughter)I know it sounds like a little thing to you, but —(Laughter)I looked in the rear-view mirror and all of a sudden it just hit me. There was no motorcade back there.(Laughter)You\'ve heard of phantom limb pain?(Laughter)This was a rented Ford Taurus.(Laughter)It was dinnertime, and we started looking for a place to eat. We were on I-40. We got to Exit 238, Lebanon, Tennessee. We got off the exit, we found a Shoney\'s restaurant. Low-cost family restaurant chain, for those of you who don\'t know it. We went in and sat down at the booth, and the waitress came over, made a big commotion over Tipper.(Laughter)She took our order, and then went to the couple in the booth next to us, and she lowered her voice so much, I had to really strain to hear what she was saying. And she said "Yes, that\'s former Vice President Al Gore and his wife, Tipper." And the man said, "He\'s come down a long way, hasn\'t he?"(Laughter)(Applause)There\'s been kind of a series of epiphanies.(Laughter)The very next day, continuing the totally true story, I got on a G-V to fly to Africa to make a speech in Nigeria, in the city of Lagos, on the topic of energy. And I began the speech by telling them the story of what had just happened the day before in Nashville. And I told it pretty much the same way I\'ve just shared it with you: Tipper and I were driving ourselves, Shoney\'s, low-cost family restaurant chain, what the man said — they laughed. I gave my speech, then went back out to the airport to fly back home. I fell asleep on the plane until, during the middle of the night, we landed on the Azores Islands for refueling. I woke up, they opened the door, I went out to get some fresh air, and I looked, and there was a man running across the runway. And he was waving a piece of paper, and he was yelling, "Call Washington! Call Washington!" And I thought to myself, in the middle of the night, in the middle of the Atlantic, what in the world could be wrong in Washington? Then I remembered it could be a bunch of things.(Laughter)But what it turned out to be, was that my staff was extremely upset because one of the wire services in Nigeria had already written a story about my speech, and it had already been printed in cities all across the United States of America. It was printed in Monterey, I checked.(Laughter)And the story began, "Former Vice President Al Gore announced in Nigeria yesterday," quote: \'My wife Tipper and I have opened a low-cost family restaurant\'" —(Laughter)"\'named Shoney\'s, and we are running it ourselves.\'"(Laughter)Before I could get back to U.S. soil, David Letterman and Jay Leno had already started in on — one of them had me in a big white chef\'s hat, Tipper was saying, "One more burger with fries!"(Laughter)Three days later, I got a nice, long, handwritten letter from my friend and partner and colleague Bill Clinton, saying, "Congratulations on the new restaurant, Al!"(Laughter)We like to celebrate each other\'s successes in life.(Laughter)I was going to talk about information ecology. But I was thinking that, since I plan to make a lifelong habit of coming back to TED, that maybe I could talk about that another time.(Applause)Chris Anderson: It\'s a deal!(Applause)Al Gore: I want to focus on what many of you have said you would like me to elaborate on: What can you do about the climate crisis? I want to start with a couple of — I\'m going to show some new images, and I\'m going to recapitulate just four or five. Now, the slide show. I update the slide show every time I give it. I add new images, because I learn more about it every time I give it. It\'s like beach-combing, you know? Every time the tide comes in and out, you find some more shells. Just in the last two days, we got the new temperature records in January. This is just for the United States of America. Historical average for Januarys is 31 degrees; last month was 39.5 degrees.Now, I know that you wanted some more bad news about the environment — I\'m kidding. But these are the recapitulation slides, and then I\'m going to go into new material about what you can do. But I wanted to elaborate on a couple of these. First of all, this is where we\'re projected to go with the U.S. contribution to global warming, under business as usual. Efficiency in end-use electricity and end-use of all energy is the low-hanging fruit. Efficiency and conservation — it\'s not a cost; it\'s a profit. The sign is wrong. It\'s not negative; it\'s positive. These are investments that pay for themselves. But they are also very effective in deflecting our path.Cars and trucks — I talked about that in the slideshow, but I want you to put it in perspective. It\'s an easy, visible target of concern — and it should be — but there is more global warming pollution that comes from buildings than from cars and trucks. Cars and trucks are very significant, and we have the lowest standards in the world. And so we should address that. But it\'s part of the puzzle. Other transportation efficiency is as important as cars and trucks. Renewables at the current levels of technological efficiency can make this much difference. And with what Vinod, and John Doerr and others, many of you here — there are a lot of people directly involved in this — this wedge is going to grow much more rapidly than the current projection shows it. Carbon Capture and Sequestration — that\'s what CCS stands for — is likely to become the killer app that will enable us to continue to use fossil fuels in a way that is safe. Not quite there yet. OK. Now, what can you do?Reduce emissions in your home. Most of these expenditures are also profitable. Insulation, better design. Buy green electricity where you can. I mentioned automobiles — buy a hybrid. Use light rail. Figure out some of the other options that are much better. It\'s important.Be a green consumer. You have choices with everything you buy, between things that have a harsh effect, or a much less harsh effect on the global climate crisis. Consider this: Make a decision to live a carbon-neutral life. Those of you who are good at branding, I\'d love to get your advice and help on how to say this in a way that connects with the most people. It is easier than you think. It really is. A lot of us in here have made that decision, and it is really pretty easy. It means reduce your carbon dioxide emissions with the full range of choices that you make, and then purchase or acquire offsets for the remainder that you have not completely reduced. And what it means is elaborated at climatecrisis.net.There is a carbon calculator. Participant Productions convened — with my active involvement — the leading software writers in the world, on this arcane science of carbon calculation, to construct a consumer-friendly carbon calculator. You can very precisely calculate what your CO2 emissions are, and then you will be given options to reduce. And by the time the movie comes out in May, this will be updated to 2.0, and we will have click-through purchases of offsets.Next, consider making your business carbon-neutral. Again, some of us have done that, and it\'s not as hard as you think. Integrate climate solutions into all of your innovations, whether you are from the technology, or entertainment, or design and architecture community. Invest sustainably. Majora mentioned this. Listen, if you have invested money with managers who you compensate on the basis of their annual performance, don\'t ever again complain about quarterly report CEO management. Over time, people do what you pay them to do. And if they judge how much they\'re going to get paid on your capital that they\'ve invested, based on the short-term returns, you\'re going to get short-term decisions. A lot more to be said about that.Become a catalyst of change. Teach others, learn about it, talk about it. The movie is a movie version of the slideshow I gave two nights ago, except it\'s a lot more entertaining. And it comes out in May. Many of you here have the opportunity to ensure that a lot of people see it. Consider sending somebody to Nashville. Pick well. And I am personally going to train people to give this slideshow — re-purposed, with some of the personal stories obviously replaced with a generic approach, and it\'s not just the slides, it\'s what they mean. And it\'s how they link together. And so I\'m going to be conducting a course this summer for a group of people that are nominated by different folks to come and then give it en masse, in communities all across the country, and we\'re going to update the slideshow for all of them every single week, to keep it right on the cutting edge. Working with Larry Lessig, it will be, somewhere in that process, posted with tools and limited-use copyrights, so that young people can remix it and do it in their own way.(Applause)Where did anybody get the idea that you ought to stay arm\'s length from politics? It doesn\'t mean that if you\'re a Republican, that I\'m trying to convince you to be a Democrat. We need Republicans as well. This used to be a bipartisan issue, and I know that in this group it really is. Become politically active. Make our democracy work the way it\'s supposed to work. Support the idea of capping carbon dioxide emissions — global warming pollution — and trading it. Here\'s why: as long as the United States is out of the world system, it\'s not a closed system. Once it becomes a closed system, with U.S. participation, then everybody who\'s on a board of directors — how many people here serve on the board of directors of a corporation? Once it\'s a closed system, you will have legal liability if you do not urge your CEO to get the maximum income from reducing and trading the carbon emissions that can be avoided. The market will work to solve this problem — if we can accomplish this. Help with the mass persuasion campaign that will start this spring. We have to change the minds of the American people. Because presently, the politicians do not have permission to do what needs to be done.And in our modern country, the role of logic and reason no longer includes mediating between wealth and power the way it once did. It\'s now repetition of short, hot-button, 30-second, 28-second television ads. We have to buy a lot of those ads. Let\'s re-brand global warming, as many of you have suggested. I like "climate crisis" instead of "climate collapse," but again, those of you who are good at branding, I need your help on this. Somebody said the test we\'re facing now, a scientist told me, is whether the combination of an opposable thumb and a neocortex is a viable combination.(Laughter)That\'s really true.I said the other night, and I\'ll repeat now: this is not a political issue. Again, the Republicans here — this shouldn\'t be partisan. You have more influence than some of us who are Democrats do. This is an opportunity. Not just this, but connected to the ideas that are here, to bring more coherence to them. We are one.Thank you very much, I appreciate it.(Applause)'

In [52]:
### Can we use tfidf information to extract the important words in each ted-talk?
data.shape

(2467, 2)

## tfidf matrix-->find the top 5 words per doc in each row of the tfidf matrix by their tfidf value